<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Test App</title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/chatUI.css">
</head>
<body>
        <div class="container">
            <h1>Chat</h1>
            <div id="chat_box"></div>
            <br/>
            <label for="handle">User</label>
            <input type="text" name="handle" id="handle" placeholder="Username" />
            <br/>
            <br/>
            <label for="message_box">Message</label>
            <input type="text" name="message_box" id="message_box" placeholder="Message"/>
            <br/>
            <button type="button" id="sendmessage">Submit</button>
        </div>
    <script src='/chat.js'></script>
</body>
</html>